.foodDiv {
  margin: 1rem;
}

.img {
  height: 23rem;
  border: 0.08rem solid rgb(173, 170, 170);
  border-radius: 0.8rem;
}

.menuClass {
  font-size: 2.2rem;
  font-weight: 600;
  padding-bottom: 0rem;
}

.placeClass {
  font-size: 1.3rem;
}

.addressClass {
  font-size: 0.7rem;
  padding-bottom: 0.3rem;
}

.prevPriceClass {
  height: 1.7rem;
  padding-bottom: 2rem;
  font-size: 1.4rem;
  text-decoration: line-through;
  text-decoration-color: red;
  font-weight: 500;
}

.saledPriceClass {
  font-size: 1.8rem;
  text-decoration: underline;
  text-underline-position: under;
  font-weight: 600;
  padding-bottom: 0.8rem;
}

.deadlineClass1 {
  font-size: 1rem;
  font-weight: 700;
}

.deadlineClass2 {
  font-size: 1.3rem;
  font-weight: 400;
}
