.logo {
  text-align: center;
}

.titleAll {
  border-bottom: 1px black solid;
  margin: 50px 17px 0px 17px;
}

.subtitle {
  font-weight: 350;
  font-size: 12px;
  text-align: center;
}
.title {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.index {
  text-align: center;
}

.btn {
  margin-top: 30px;
}
/* .category {
  background-color: skyblue;
  cursor: pointer;
}

.upload {
  background-color: skyblue;
  cursor: pointer;
  border: 1px rgb(107, 197, 233) solid;
  border-radius: 4px;
  width: 70px;
  height: 30px;
}

.logout {
  background-color: yellowgreen;
  cursor: pointer;
  border: 1px rgb(141, 211, 0) solid;
  border-radius: 4px;
  width: 70px;
  height: 30px;
}
*/
