.link {
  text-decoration: none;
}
/* 전체적인 게시물 박스에 속성 부여 */
.item {
  display: flex;
  background-color: white;
  padding: 1.3rem;
}
/* 이미지에 속성 부여 */
.img {
  width: 9.2rem;
  height: 9.2rem;
  min-width: 9.2rem;
  border: 0.08rem solid rgb(173, 170, 170);
  border-radius: 1.3rem;
}

/* 메뉴 텍스트 박스 전체에 속성 부여 */
.details {
  padding: 0.33rem;
  padding-left: 1.85rem;
  padding-top: 0rem;
  width: 11.2rem;
  min-width: 11.2rem;
  height: 9.5rem;
  display: flex;
  background-color: white;
  flex-direction: column;
}
@media (min-width: 40rem) {
  .details {
    padding: 0.33rem;
    padding-left: 1.85rem;
    padding-top: 0rem;
    width: 20rem;
    min-width: 11.2rem;
    height: 9.5rem;
    display: flex;
    background-color: white;
    flex-direction: column;
  }
}
/* 아래부터 게시물의 font속성부여 */
.menuClass {
  color: black;
  font-size: 1.12rem;
  font-weight: 800;
  height: 1.7rem;
  margin: 0;
}

.placeClass {
  color: black;
  font-size: 0.65rem;
  font-weight: 340;
  margin-top: 0.14rem;
}

.addressClass {
  color: gray;
  font-size: 0.5rem;
  font-weight: 500;
  margin-bottom: 0.66rem;
}

/* 원가에 속성부여 */
.prevPriceClass {
  color: black;
  font-weight: 440;
  height: 1.66rem;
  font-size: 0.88rem;
  text-decoration: line-through;
  text-decoration-style: solid;
  text-decoration-color: rgb(216, 54, 14);
  text-decoration-thickness: 0.17rem;
}

/* 할인가에 속성부여 */
.saledPriceClass {
  color: black;
  font-size: 1.06rem;
  font-weight: 550;
  height: 1.66rem;
  margin-top: 0.125rem;
}

/* 개수에 속성부여 */
.countClass {
  color: black;
  font-size: 0.625rem;
  font-weight: 400;
}

/* 마감시간에 속성부여 */
.deadlineClass {
  color: black;
  font-size: 0.625rem;
  font-weight: 400;
}
